.wrapper404 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.wrapperTitle {
    font-family: 'Roboto', Arial, sans-serif;
    color: rgb(255, 60, 0);
    font-size: 74px;
    font-weight: 700;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
}

.link {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    color: rgb(0, 102, 255);
    font-size: 34px;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: 700;
    width: 100%;
}