.reviews__subtitle {
    margin-left: 60px;
    font-family: 'Roboto', Arial, sans-serif;
    color: #25495780;
    font-size: 27px;
    font-weight: 700;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);


}